.sidebar {
  display: flex;
  flex-direction: column;
  flex: 0.25;
}
.sidebar__header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-right: 1px solid lightgray;
  align-items: center;
}

.sidebar__headerRight {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  min-width: 10vw;
}

.sidebar__headerRight > .MuiSvgIcon-root {
  margin-right: 2vw;
  font-size: 24px !important;
}

.sidebar__header > span {
  color: rgb(92, 92, 92);
}

.sidebar__chats {
  flex: 1;
  background-color: white;
  /* overflow: hidden; */
  overflow: scroll;
}

.sidebar__search {
  display: flex;
  padding: 10px;
  position: absolute;
  bottom: 20px;
  margin-left: 15vw;
}

.sidebar__search .MuiSvgIcon-root {
  /* width: 4em !important;
  height: 4em !important; */
  font-size: 45px !important;
}
